@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
html, body .timer-panel {
    height: 100vh;
    font-family: 'Itim', cursive;
}
.timer-panel {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.timer, .running-buttons {
    position: relative;
    bottom: 20%;
    left: 25%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.running-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-seccion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    #break-increment, #session-increment {
        background-color: green;
    }
    #break-decrement, #session-decrement {
        background-color: red;
    }
    button {
        height: 90px;
        width: 225px;
        border-radius: 10px;
        margin: 5px;
    }
}
.click-label div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    label {
        margin-bottom: 10px;
        margin-right: 25px;
        color: green;
        font-size: 25px;
        box-shadow: 25px;
        text-align: center;
    }
    #session-label, #session-length {
        color: red
    }
}
p {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px
}